.woongkir {
    &-account-features {
        border-top: 1px solid #f8f8f8;
        border-left: 1px solid #f8f8f8;
        border-right: 1px solid #f8f8f8;
        &-wrap {
            width: 50%;
            min-width: 250px;
            margin-top: 10px;
        }
        thead {
            th {
                text-align: center;
                width: 20% !important;
                border-left: 1px solid #f8f8f8;
                background: #f1f1f1;
                padding: 8px 5px !important;
                &:first-child {
                    width: 40% !important;
                    border-left: none;
                }
            }
        }
        tbody {
            td {
                text-align: center;
                border-left: 1px solid #f8f8f8;
            }
            td,
            th {
                padding: 5px !important;
                &.selected {
                    background: #f9f9f9;
                }
            }
        }
        tfoot {
            td {
                padding: 8px 5px !important;
                text-align: center;
                border-left: 1px solid #f8f8f8;
                input {
                    margin: 0 !important;
                    &:disabled {
                        background: #fff;
                    }
                }
            }
        }
    }
    &-courier {
        &-box {
            vertical-align: top !important;
            width: 20%;
        }
        &-list {
            border: 1px solid #f8f8f8;
            width: 100%;
            thead {
                th,
                td {
                    background-color: #f1f1f1;
                }
            }
            tbody {
                tr:nth-child(even) {
                    background: #f9f9f9;
                }
                tr:nth-child(odd) {
                    background: #ffffff;
                }
            }
        }
        &-name {
            white-space: nowrap;
            font-weight: 700;
            padding-top: 10px !important;
            padding-bottom: 10px !important;
        }
        &-link {
            display: block;
            margin: 0 auto;
        }
        &-logo {
            display: block;
            margin: 0 auto;
            max-width: 64px;
            height: auto;
        }
        &-service {
            padding-top: 8px !important;
            padding-bottom: 8px !important;
            white-space: nowrap;
        }
    }
}