.woongkir {
    &-account-features {
        border-top: 1px solid #f8f8f8;
        border-left: 1px solid #f8f8f8;
        border-right: 1px solid #f8f8f8;
        &-wrap {
            width: 50%;
            min-width: 250px;
            margin-top: 10px;
        }
        thead {
            th {
                text-align: center;
                width: 20% !important;
                border-left: 1px solid #f9f9f9;
                background: #f9f9f9;
                padding: 8px 5px !important;
                &:first-child {
                    width: 40% !important;
                    border-left: none;
                }
            }
        }
        tbody {
            td {
                text-align: center;
                border-left: 1px solid #f8f8f8;
            }
            td,
            th {
                padding: 5px !important;
                &.selected {
                    background: #f9f9f9;
                }
            }
        }
        tfoot {
            td {
                padding: 8px 5px !important;
                text-align: center;
                border-left: 1px solid #f8f8f8;
                input {
                    margin: 0 !important;
                    &:disabled {
                        background: #fff;
                    }
                }
            }
        }
    }
    &-couriers {
        &:after {
            content: "";
            display: block;
            width: 100%;
            clear: both;
        }
        &-wrap {
            background-color: #fff;
            padding: 15px 15px 0 15px;
            width: 50%;
            float: left;
        }
        &-item {
            margin-bottom: 0;
            cursor: move;
            &-inner {
                margin-right: 15px;
            }
            &-info {
                padding: 15px 15px;
                background-color: #f9f9f9;
                border: 1px solid #e1e1e1;
                label {
                    font-weight: bold;
                }
                &-toggle {
                    float: right;
                    a {
                        text-decoration: none;
                    }
                }
                &-link {
                    display: none;
                    padding-left: 25px;
                    font-size: small !important;
                    a {
                        text-decoration: none;
                    }
                }
            }
        }
    }
    &-services {
        &-item {
            display: none;
            background-color: #ffffff;
            margin: 0;
            padding: 7px 7px 7px 40px;
            border-left: 1px solid #e1e1e1;
            border-bottom: 1px solid #e1e1e1;
            border-right: 1px solid #e1e1e1;
        }
    }
}