.woongkir {
    &-account-features {
        border-top: 1px solid #f8f8f8;
        border-left: 1px solid #f8f8f8;
        border-right: 1px solid #f8f8f8;

        &-wrap {
            width: 50%;
            min-width: 250px;
            margin-top: 10px;
        }

        thead {
            th {
                text-align: center;
                width: 20% !important;
                border-left: 1px solid #f9f9f9;
                background: #f9f9f9;
                padding: 10px 10px !important;

                &:first-child {
                    width: 40% !important;
                    border-left: none;
                }
            }

            @media screen and (max-width: 782px) {
                display: none;
            }
        }

        tbody {
            td {
                text-align: center;
                border-left: 1px solid #f8f8f8;
                min-width: 90px;
            }

            th {
                white-space: nowrap;
            }

            td,
            th {
                padding: 5px 10px !important;

                &.selected {
                    background: #f9f9f9;
                }
            }

            @media screen and (max-width: 782px) {
                display: none;
            }
        }

        tfoot {
            td {
                padding: 8px 5px !important;
                text-align: center;
                border-left: 1px solid #f8f8f8;

                input {
                    margin: 0 !important;

                    &:disabled {
                        background: #fff;
                    }

                    @media screen and (max-width: 782px) {
                        float: right;
                    }
                }

                @media screen and (max-width: 782px) {
                    text-align: left;

                    &:before {
                        content: attr(data-title);
                        font-weight: 700;
                    }
                }
            }

            @media screen and (max-width: 782px) {
                th {
                    display: none;
                }
            }
        }
    }

    &-couriers {
        &:after {
            content: "";
            display: block;
            width: 100%;
            clear: both;
        }

        &-wrap {
            background-color: #fff;
            padding: 15px 15px 0 15px;
            width: 50%;
            float: left;

            &.no-items {
                display: none;
                width: 0%;
            }

            &.full-width {
                width: 100%;
            }

            @media screen and (max-width: 782px) {
                width: 100% !important;
            }
        }

        &-item {
            margin-bottom: 0;
            cursor: move;

            &-inner {
                margin-right: 15px;
            }

            &-info {
                padding: 15px 15px;
                background-color: #f9f9f9;
                border: 1px solid #e1e1e1;

                &::before {
                    content: "\f545";
                    font-family: dashicons;
                    display: inline-block;
                    line-height: 1;
                    font-weight: 400;
                    font-style: normal;
                    text-decoration: inherit;
                    text-transform: none;
                    text-rendering: auto;
                    -webkit-font-smoothing: antialiased;
                    -moz-osx-font-smoothing: grayscale;
                    width: 20px;
                    height: 20px;
                    font-size: 20px;
                    vertical-align: top;
                    text-align: center;
                    transition: color .1s ease-in;
                    margin-top: 2px;
                    margin-right: 15px;
                    color: #666;
                }

                label {
                    font-weight: bold;
                }

                &-toggle {
                    float: right;

                    a {
                        text-decoration: none;
                    }
                }

                &-link {
                    display: none;
                    padding-left: 63px;
                    font-size: small !important;

                    a {
                        text-decoration: none;
                    }
                }
            }
        }
    }

    &-services {
        &-item {
            display: none;
            background-color: #ffffff;
            margin: 0;
            padding: 7px 7px 7px 77px;
            border-left: 1px solid #e1e1e1;
            border-bottom: 1px solid #e1e1e1;
            border-right: 1px solid #e1e1e1;
        }
    }
}