.woongkir {
    &-account-features {
        border-top: 1px solid #f8f8f8;
        border-left: 1px solid #f8f8f8;
        border-right: 1px solid #f8f8f8;

        &-wrap {
            width: 50%;
            min-width: 250px;
            margin-top: 10px;
        }

        thead {
            th {
                text-align: center;
                width: 20% !important;
                border-left: 1px solid #f9f9f9;
                background: #f9f9f9;
                padding: 10px 10px !important;

                &:first-child {
                    width: 40% !important;
                    border-left: none;
                }
            }

            @media screen and (max-width: 782px) {
                display: none;
            }
        }

        tbody {
            td {
                text-align: center;
                border-left: 1px solid #f8f8f8;
                min-width: 90px;
            }

            th {
                white-space: nowrap;
            }

            td,
            th {
                padding: 5px 10px !important;

                &.selected {
                    background: #f9f9f9;
                }
            }

            @media screen and (max-width: 782px) {
                display: none;
            }
        }

        tfoot {
            td {
                padding: 8px 5px !important;
                text-align: center;
                border-left: 1px solid #f8f8f8;

                input {
                    margin: 0 !important;

                    &:disabled {
                        background: #fff;
                    }

                    @media screen and (max-width: 782px) {
                        float: right;
                    }
                }

                @media screen and (max-width: 782px) {
                    text-align: left;

                    &:before {
                        content: attr(data-title);
                        font-weight: 700;
                    }
                }
            }

            @media screen and (max-width: 782px) {
                th {
                    display: none;
                }
            }
        }
    }

    &-couriers {
        &-item {
            border: 1px solid #ccd0d4;
            margin: 0 0 3px 0;

            &-inner {
                background-color: #f8f8f8;
            }

            &-info {
                position: relative;
                height: 40px;
                cursor: move;

                &-title {
                    display: inline-block;
                    line-height: 40px;
                    height: 40px;
                    font-weight: bold;
                    padding-left: 12px;
                }

                &-toggle,
                &-link {
                    position: absolute;
                    top: 0;
                    width: 40px;
                    height: 40px;
                    border-left: 1px solid #ccd0d4;
                    text-align: center;

                    a {
                        text-decoration: none;
                        display: block;
                        height: 40px;
                        line-height: 40px;
                        padding-top: 10px;

                        &:hover {
                            background-color: darken(#f8f8f8, 3%);
                        }
                    }
                }

                &-toggle {
                    right: 0;
                }

                &-link {
                    right: 40px;
                    transition: all .2s ease-in-out;
                }
            }

            &:not(.expanded) {

                .woongkir-couriers-item-info-link,
                .woongkir-services {
                    transform: scale(0);
                    height: 0;
                }
            }
        }
    }

    &-services {
        transform: scale(1);
        background-color: #fff;
        transition: all .2s ease-in-out;

        &-item {
            margin: 0;
            padding: 7px 0 7px 36px;
            border-top: 1px solid lighten(#ccd0d4, 10%);

            &:first-child {
                border-top: 1px solid #ccd0d4;
            }

            &:nth-child(odd) {
                background-color: #fff;
            }

            &:nth-child(even) {
                background-color: lighten(#f8f8f8, 1%);
            }

            &:hover {
                background-color: darken(#f8f8f8, 1%);
            }
        }
    }
}
